@*@model HotelProjectt.WebUI.Dtos.BookingDto.UpdateBookingDto
    @{
        ViewData["Title"] = "UpdateBooking";
        Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
    }


    <h1>Rezervasyon Güncelleme Sayfası</h1>


    <form method="post">

        <input type="hidden" asp-for="BookingID" />
        <label>Misafir Adı Soyadı</label>
        <input type="text" asp-for="Name" class="form-control" />
        <br />

        <label>Misafir Mail Adresi</label>
        <input type="email" asp-for="Mail" class="form-control" />
        <br />

        <label>Misafir Giriş Tarihi</label>
        <input type="date" asp-for="CheckIn" class="form-control" />
        <br />

        <label>Misafir Çıkış Tarihi</label>
        <input type="date" asp-for="CheckOut" class="form-control" />
        <br />

        <label>Yetişkin Sayısı</label>
        <input type="text" asp-for="AdultCount" class="form-control" />
        <br />

        <label>Çocuk Sayısı</label>
        <input type="text" asp-for="ChildCount" class="form-control" />
        <br />


        <label>Oda Sayısı</label>
        <input type="text" asp-for="RoomCount" class="form-control" />
        <br />

        <label>Şehir</label>
        <input type="date" asp-for="City" class="form-control" />
        <br />

        <label>Ülke</label>
        <input type="text" asp-for="Country" class="form-control" />
        <br />


        <label>Durum</label>
        <input type="text" asp-for="Status" class="form-control" />
        <br />


        <label>Özel İstekler</label>
        <textarea class="form-control" rows="5" asp-for="SpecialRequest" />
        <br />

        <label>Açıklama</label>
        <textarea class="form-control" rows="5" asp-for="Description" />
        <br />



        <button class="btn btn-primary">Rezervasyonu Güncelle</button>




    </form>*@



@model HotelProjectt.WebUI.Dtos.BookingDto.UpdateBookingDto
@{ ViewData["Title"] = "UpdateBooking";
                Layout = "~/Views/AdminLayout/_AdminLayout.cshtml"; }

<h1>Rezervasyon Güncelleme Sayfası</h1>

<form method="post">
    <input type="hidden" asp-for="BookingID" />

    <label>Misafir Adı Soyadı</label>
    <input type="text" asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
    <br />

    <label>Misafir Mail Adresi</label>
    <input type="email" asp-for="Mail" class="form-control" />
    <span asp-validation-for="Mail" class="text-danger"></span>
    <br />

    <label>Misafir Giriş Tarihi</label>
    <input type="date" asp-for="CheckIn" class="form-control" />
    <span asp-validation-for="CheckIn" class="text-danger"></span>
    <br />

    <label>Misafir Çıkış Tarihi</label>
    <input type="date" asp-for="CheckOut" class="form-control" />
    <span asp-validation-for="CheckOut" class="text-danger"></span>
    <br />

    <label>Yetişkin Sayısı</label>
    <input type="number" asp-for="AdultCount" class="form-control" min="0" />
    <span asp-validation-for="AdultCount" class="text-danger"></span>
    <br />

    <label>Çocuk Sayısı</label>
    <input type="number" asp-for="ChildCount" class="form-control" min="0" />
    <span asp-validation-for="ChildCount" class="text-danger"></span>
    <br />

    <label>Oda Sayısı</label>
    <input type="number" asp-for="RoomCount" class="form-control" min="1" />
    <span asp-validation-for="RoomCount" class="text-danger"></span>
    <br />

    <label>Şehir</label>
    <input type="text" asp-for="City" class="form-control" />
    <span asp-validation-for="City" class="text-danger"></span>
    <br />

    <label>Ülke</label>
    <input type="text" asp-for="Country" class="form-control" />
    <span asp-validation-for="Country" class="text-danger"></span>
    <br />

    <label>Durum</label>
    <input type="text" asp-for="Status" class="form-control" />
    <span asp-validation-for="Status" class="text-danger"></span>
    <br />

    <label>Özel İstekler</label>
    <textarea class="form-control" rows="5" asp-for="SpecialRequest"></textarea>
    <span asp-validation-for="SpecialRequest" class="text-danger"></span>
    <br />

    <label>Açıklama</label>
    <textarea class="form-control" rows="5" asp-for="Description"></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
    <br />

    <button class="btn btn-primary">Rezervasyonu Güncelle</button>
</form>
